@charset "UTF-8";

.title {
    font-size: 25px;
    color: white;
    font-weight: bold;
    width: 95%;
    text-shadow: 2px 2px 5px gray;
    padding: 8px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.right-panel .sub-title{
	font-size: 18px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px gray;
}



.email-auth-container{
	width: 95%;
}

.description {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.email-auth-input{
	display: flex;      
	flex-direction: column;
}

.email-auth-input>*{
	margin-bottom: 10px;
	
}

.email-auth-input input{
	width: 80%;
}

.email-input{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.email-input input{
	width: 80%;
}
 
.checkNum-input{
	display: flex;
	flex-direction: column;
}

.page-btns{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-top: 15px;
}

.email-auth-container input[type="text"],
.email-auth-container input[type="email"],
.email-auth-container input[type="password"],
.email-auth-container input[type="number"] {
    width: 70%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #fefefe;
    font-size: 15px;
    box-shadow: 2px 2px 5px gray;
}

.bi-question-circle{
	margin: 10px;
}