@charset "UTF-8";

/* 바디 레이아웃 */
.mypage-container {
    display: flex;
   	width : 100%;
    max-width: 100%;
    background-color: #F6F2ED;
}

.mypage-content {
	 width: 100%;
	 height : 100%;
}


/* 사이드바 타이틀 */
.mypage-texttitle {
	font-size : 20px;
	font-weight: bold;
	color : #5c8f51;
}

/* 사이드바 크키 */
.mypage-sidebar {
    width: 20%;
    background-color: rgba(90, 139, 99, 0.1);
    border-radius: 15px;
    padding: 15px;
    border-right: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
}


.mypage-sidebar ul {
    list-style: none;
    padding: 0;
}

.mypage-sidebar li {
    margin-bottom: 10px;
}

.mypage-sidebar a {
	font-size: 15px;
	font-weight: 400;
    text-decoration: none;
    color: #333;
}

.active-sidebar a{
	color: #5c8f51;
    font-weight: 600;
    text-decoration: underline;
    
}

.mypage-sidebar a:hover {
    color: #5c8f51;
    font-weight: 600;
}


/* 나의 정보 수정 타이틀 */
.mypageinfo-content h2 {
	font-size: 25px;
	font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom : 30px;
    color: #5c8f51;
}


/* 메인 콘텐츠 관리. */
.mypageinfo-content {
	width: 100%;
	height: 100%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin-bottom: 20px;
}


.memberinfo-container {
	width: 70%;
	font-size :15px;
	display: flex;
    flex-direction: column;
    align-items: center; /* 모든 자식을 가로로 가운데 정렬 */

}

.memberinfo-container>div{
	display: flex;
	align-items: center;
}
.memberinfo-container label{
	font-weight: bold;
}

.change-pwbox label, .change-pwbox input {
    display: block; /* 라벨과 인풋을 각각 한 줄씩 배치 */
    margin-bottom: 10px; /* 간격 추가 */
}

form:last-child{
	justify-content: center;
}

/* 버튼 크기, 스타일 적용 */
.member-end-btn {
	font-size : 15px;
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px; /* 버튼과 위 요소 간격 */
    align-self: center; /* 버튼을 가운데 정렬 */
}

.member-info-btn {
	font-size :12px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center ;
	background-color: #5c8f51;
    border-radius: 15px;
    width: 20px;
}


/* 라벨관리 */
.member-id {
	margin-right : 35px;
}

.member-name {
	margin-right : 46px;
}

.member-pw {
	margin-right : 35px;
}

.member-phone {
	margin-right : 25px;
}

.member-email {
	margin-right : 35px;
}

.member-address {
	margin-right : 46px;
}

.member-btday {
	margin-right : 46px;
}

.complete-btn {
	font-size :12px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center;
    border-radius: 15px;
    width: 20%;
}

.change-box{
	gap: 5px;
	display: flex;
	
}

.change-input{
	width: 180px !important;
	font-size : 13px !important;
}


.change-pwbox{
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
}

.pw-input-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 0px;
}

.error-msg{
	font-size: 12px;
	padding: 0px 10px;
}

.memberinfo-container > div {
    display: flex; /* 플렉스 박스를 유지 */
    justify-content: flex-start; /* 자식 요소들을 오른쪽 정렬 */
    width: 100%; /* 오른쪽 정렬 적용을 위한 가로 크기 */
    padding-left: 100px;
    border-bottom: 1px solid #ddd;
}

.change-addressbox {
    display: flex; /* Flexbox 레이아웃 활성화 */
    gap: 15px; /* 요소 간 간격 설정 */
}


