@charset "UTF-8";

/* 바디 레이아웃 */
.mypage-container {
    display: flex;
   /*  justify-content: space-between; */
   	
    max-width: 100%;
    height : 100%;
    max-height : 100%;
    background-color: #F6F2ED;
}




/* 사이드바 스타일 */
.mypage-texttitle {
	font-size : 15px;
	font-weight: bold;
	color : #5c8f51;
}

.mypage-sidebar {
    width: 15%;
    background-color: rgba(90, 139, 99, 0.1);
    border-radius: 15px;
    padding: 15px;
    border-right: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mypage-sidebar ul {
    list-style: none;
    padding: 0;
}

.mypage-sidebar li {
    margin-bottom: 10px;
}

.mypage-sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.mypage-sidebar a:hover {
    color: #5c8f51;
    font-weight: 600;
}





/* 나의 정보 수정 타이틀 */
.mypageinfo-content h2 {
	font-size :15px;
	font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom : 40px;
    color: #5c8f51;
}


/* 메인 콘텐츠 관리. */
.mypageinfo-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-self: flex-end;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin-bottom: 20px;
}


.memberinfo-container {
	width: 400px;
	font-size :11px;
	font-weight: bold;
	
}


/* 각 div 바텀 라인 */

.member-idbox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}

.member-namebox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}

.member-pwbox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}

.member-emailbox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}


.member-phonebox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}

.member-addressbox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}

.member-btdaybox {
	border-bottom: 1px solid #ddd;
	display : flex;
	flex : auto;
	justify-content: space-around;
	align-items: center;
}


/* 버튼 크기, 스타일 적용 */
.member-end-btn {
	font-size : 10px;
	width: 150px;
	height: 40px; 
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
    margin-top : 50px;
}

.member-id-btn {
	font-size : 7px;
	width: 50px;
	height: 20px; 
	display: inline-block;
	white-space: nowrap;
	text-align : center;
	vertical-align: middle;
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

.member-pw-btn {
	display: inline-block;
	white-space: nowrap;
	text-align : center;
	vertical-align: middle;
	font-size : 7px;
	width: 50px;
	height: 20px; 
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

.member-email-btn {
	display: inline-block;
	white-space: nowrap;
	text-align : center;
	vertical-align: middle;
	font-size : 7px;
	width: 50px;
	height: 20px; 
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

.member-address-btn {
	display: inline-block;
	white-space: nowrap;
	text-align : center;
	vertical-align: middle;
	font-size : 7px;
	width: 50px;
	height: 20px; 
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

