@charset "UTF-8";

/* 바디 레이아웃 */
.mypage-container {
    display: flex;
   /*  justify-content: space-between; */
   	width : 100%;
    max-width: 100%;
    height : 100%;
    max-height : 100%;
    background-color: #F6F2ED;
}

.mypage-content {
	 width: 100%;
	 height : 100%;
}


/* 사이드바 타이틀 */
.mypage-texttitle {
	font-size : 11px;
	font-weight: bold;
	color : #5c8f51;
}

/* 사이드바 크키 */
.mypage-sidebar {
    width: 16%;
    background-color: rgba(90, 139, 99, 0.1);
    border-radius: 15px;
    padding: 15px;
    border-right: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}


.mypage-sidebar ul {
    list-style: none;
    padding: 0;
}

.mypage-sidebar li {
    margin-bottom: 10px;
}

.mypage-sidebar a {
	font-size: 9px;
	font-weight: 400;
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.mypage-sidebar a:hover {
    color: #5c8f51;
    font-weight: 600;
}





/* 나의 정보 수정 타이틀 */
.mypageinfo-content h2 {
	font-size: 14px;
	font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom : 30px;
    color: #5c8f51;
}


/* 메인 콘텐츠 관리. */
.mypageinfo-content {
	width: 100%;
	height: 100%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin-bottom: 20px;
}


.memberinfo-container {
	width: 70%;
	height: 67%;
	font-size :11px;
	font-weight: bold;
	
}


/* 각 div 바텀 라인 */

.member-idbox {
	border-bottom: 1px solid #ddd;
	display : flex;
}

.member-namebox {
	border-bottom: 1px solid #ddd;
	display : flex;
}

.member-pwbox {
	border-bottom: 1px solid #ddd;
	display : flex;
}

.member-emailbox {
	border-bottom: 1px solid #ddd;
	display : flex;
}


.member-phonebox {
	border-bottom: 1px solid #ddd;
	display : flex;
}

.member-addressbox {
	border-bottom: 1px solid #ddd;
	display : flex;
}

.member-btdaybox {
	border-bottom: 1px solid #ddd;
	display : flex;
}


/* 버튼 크기, 스타일 적용 */
.member-end-btn {
	font-size : 10px;
	width: 150px;
	height: 40px; 
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
    margin-top : 30px;
}

.member-id-btn {
	font-size : 8px;
	width: 50px;
	height: 20px; 
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center ;
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

.member-pw-btn {
	font-size : 8px;
	width: 50px;
	height: 20px; 
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center ;
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

.member-email-btn {
	font-size : 8px;
	width: 50px;
	height: 20px; 
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center ;
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}

.member-address-btn {
	font-size : 8px;
	width: 50px;
	height: 20px; 
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center ;
	background-color: #5c8f51;
    border-radius: 15px;
    border-right: 1px solid #ddd;
}




/* 라벨관리 */
.member-id {
	margin-right : 35px;
}

.member-name {
	margin-right : 46px;
}

.member-pw {
	margin-right : 35px;
}

.member-phone {
	margin-right : 25px;
}

.member-email {
	margin-right : 35px;
}

.member-address {
	margin-right : 46px;
}

.member-btday {
	margin-right : 46px;
}


